.main {
  min-height: 100vh;
  background-color: var(--color-background-default);
}

.header {
  padding: 2rem 4.5rem 2rem;
  background-color: var(--color-background-default);
}
@media (max-width: 1024px) {
  .header {
    padding: 2rem 1.5rem 2rem;
  }
}

.headerContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.pageTitle {
  color: var(--color-text-default);
  margin: 0;
  font-size: 1.75rem;
}

.pageSubtitle {
  margin: 0;
  font-size: 0.875rem;
}

.content {
  display: flex;
  flex-direction: column;
}
