.topBar{
    color: #fff;
    height: 45px;
    background-color: #0a2f66;
    letter-spacing: -0.1px;
}
.topBar .container{
    width: 100%;
    height: 100%;
    padding: 0px 29px;
    max-width: 1264px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 1024px) {
    .topBar .container {
      padding: 0px 18px;
  }
}
.topBar nav{
    height: 100%;
}
.topBar nav ul{
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 0 24px;
}
@media (max-width: 1024px) {
    .topBar nav ul {
        gap: 10px;
        padding: 0;
    }
}
.topBar ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 0;
}
@media (max-width: 1024px) {
    .topBar ul li {
        gap: 10px;
  }
}
.topBar nav a{
    color: #FDFDFD;
    font-weight: 400;
    opacity: 0.75;
    font-size: 15.25px;
}
@media (max-width: 1024px) {
    .topBar nav a {
      font-size: 12px;
  }
}
.topBar nav li:after{
    content: '';
    display: block;
    width: 1px;
    height: 12px;
    background-color: #FDFDFD;
}
.topBar nav li:last-child:after{
    content: '';
    display: none;
}
.accessibilityButtonGroup button{
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background: #3389f3;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.accessibilityButtonGroup{
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1024px) {
  .accessibilityButtonGroup {
    display: none;
  }
}

.menuBar{
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, .14901960784313725);
}
.contrastIcon{
    color: #fff;
}
.menuBar .container{
    max-width: 1170px;
    margin: auto;
    padding: 16px 80px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 1024px) {
  .navigationContainer nav {
    display: none;
  }
}
.menuBar .container nav ul{
    display: flex;
    gap: 3rem;
}
@media (max-width: 1024px) {
    .menuBar .container nav ul {
        gap: 1rem;
    }
}
.menuBar .container nav li{
    list-style: none;
}
.menuBar .container nav a{
    color: var(--color-text-default);
    font-size: 16px;
}
.menuToggleButton{
    width: 30px;
    height: 30px;
    display: none;
}
@media (max-width: 1024px) {
  .menuToggleButton {
    display: block;
  }
}
.navigationContainer{
    display: flex;
    align-items: center;
    gap: 80px;
}

.navigationContainerMobile{
    position: absolute;
    width: 100%;
    height: auto;
    background: var(--color-text-link);
    left: 0;
    top: 45px;
    display: none;
}
@media (max-width: 1024px) {
  .navigationContainerMobile {
    display: block;
  }
}
.navigationContainerMobile ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 2rem;
}
.navigationContainerMobile a{
    color: #fff!important;
}
.menuToggleButtonMobile{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 33px;
    height: 33px;
}