.heroSection {
  padding: 3rem 4.5rem;
  background-color: var(--color-background-default);
}
@media (max-width: 1024px) {
  .heroSection {
    padding: 0 1.5rem 3rem 1.5rem;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  color: var(--color-text-link, #1351B4);
  margin: 0;
}

.description {
  color: var(--color-text-default);
  line-height: 1.6;
  margin: 0;
}

.imageContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: auto;
  max-width: 500px;
}
@media (max-width: 768px) {
  .image{
    max-width: 100%;
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .imageContainer {
    order: -1;
  }
}
